[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
jinja2 = "*"
alembic = "*"
babel = "*"
blinker = "*"
click = "*"
colorama = "*"
dominate = "*"
entrypoints = "*"
flake8 = "*"
flask-babel = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-moment = "*"
itsdangerous = "*"
lazy-object-proxy = "*"
mako = "*"
markupsafe = "*"
mccabe = "*"
pycodestyle = "*"
pyflakes = "*"
pyjwt = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
pytz = "*"
six = "*"
sqlalchemy = "*"
urllib3 = "*"
visitor = "*"
werkzeug = "*"
flask-wtf = "*"
wtforms = "*"
email-validator = "*"
flask-sqlalchemy = "*"
guess-language-spirit = "*"
requests = "*"
elasticsearch = "*"
gunicorn = "*"
packaging = "*"
pymysql = "*"
rq = "*"
flask-httpauth = "*"

[requires]
python_version = "3.7"
